<!DOCTYPE html>
<html>
<th:block th:replace="~{fragments/head::head(title='home')}"></th:block>
<body>
	<header class="">
		<th:block th:replace="~{fragments/navbar::navbar}"></th:block>
	</header>

	<main class="container">



		<div class="row">
			<div class="col-xl-12 ">Lorem ipsum dolor sit amet consectetur
				adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
				placerat. In id cursus mi pretium tellus duis convallis. Tempus leo
				eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec
				metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer
				nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu.
				Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
				ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
				ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
				tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
				Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
				massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit
				semper vel class aptent taciti sociosqu. Ad litora torquent per
				conubia nostra inceptos himenaeos. Lorem ipsum dolor sit amet
				consectetur adipiscing elit. Quisque faucibus ex sapien vitae
				pellentesque sem placerat. In id cursus mi pretium tellus duis
				convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
				vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
				nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
				class aptent taciti sociosqu. Ad litora torquent per conubia nostra
				inceptos himenaeos. Lorem ipsum dolor sit amet consectetur
				adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
				placerat. In id cursus mi pretium tellus duis convallis. Tempus leo
				eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec
				metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer
				nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu.
				Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
				ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
				ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
				tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
				Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
				massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit
				semper vel class aptent taciti sociosqu. Ad litora torquent per
				conubia nostra inceptos himenaeos. Lorem ipsum dolor sit amet
				consectetur adipiscing elit. Quisque faucibus ex sapien vitae
				pellentesque sem placerat. In id cursus mi pretium tellus duis
				convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
				vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
				nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
				class aptent taciti sociosqu. Ad litora torquent per conubia nostra
				inceptos himenaeos. Lorem ipsum dolor sit amet consectetur
				adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
				placerat. In id cursus mi pretium tellus duis convallis. Tempus leo
				eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec
				metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer
				nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu.
				Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
				ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
				ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
				tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
				Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
				massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit
				semper vel class aptent taciti sociosqu. Ad litora torquent per
				conubia nostra inceptos himenaeos. Lorem ipsum dolor sit amet
				consectetur adipiscing elit. Quisque faucibus ex sapien vitae
				pellentesque sem placerat. In id cursus mi pretium tellus duis
				convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
				vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
				nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
				class aptent taciti sociosqu. Ad litora torquent per conubia nostra
				inceptos himenaeos. Lorem ipsum dolor sit amet consectetur
				adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
				placerat. In id cursus mi pretium tellus duis convallis. Tempus leo
				eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec
				metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer
				nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu.
				Ad litora torquent per conubia nostra inceptos himenaeos.</div>
		</div>
		<div class="row">
			<div class="col-xl-12 offset-xl-0 ">Lorem ipsum dolor sit amet
				consectetur adipiscing elit. Quisque faucibus ex sapien vitae
				pellentesque sem placerat. In id cursus mi pretium tellus duis
				convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
				vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
				nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
				class aptent taciti sociosqu. Ad litora torquent per conubia nostra
				inceptos himenaeos. Lorem ipsum dolor sit amet consectetur
				adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
				placerat. In id cursus mi pretium tellus duis convallis. Tempus leo
				eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec
				metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer
				nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu.
				Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
				ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
				ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
				tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
				Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
				massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit
				semper vel class aptent taciti sociosqu. Ad litora torquent per
				conubia nostra inceptos himenaeos. Lorem ipsum dolor sit amet
				consectetur adipiscing elit. Quisque faucibus ex sapien vitae
				pellentesque sem placerat. In id cursus mi pretium tellus duis
				convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
				vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
				nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
				class aptent taciti sociosqu. Ad litora torquent per conubia nostra
				inceptos himenaeos. Lorem ipsum dolor sit amet consectetur
				adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
				placerat. In id cursus mi pretium tellus duis convallis. Tempus leo
				eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec
				metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer
				nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu.
				Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
				ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
				ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
				tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
				Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
				massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit
				semper vel class aptent taciti sociosqu. Ad litora torquent per
				conubia nostra inceptos himenaeos. Lorem ipsum dolor sit amet
				consectetur adipiscing elit. Quisque faucibus ex sapien vitae
				pellentesque sem placerat. In id cursus mi pretium tellus duis
				convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
				vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
				nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
				class aptent taciti sociosqu. Ad litora torquent per conubia nostra
				inceptos himenaeos. Lorem ipsum dolor sit amet consectetur
				adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
				placerat. In id cursus mi pretium tellus duis convallis. Tempus leo
				eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec
				metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer
				nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu.
				Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
				ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
				ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
				tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
				Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis
				massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit
				semper vel class aptent taciti sociosqu. Ad litora torquent per
				conubia nostra inceptos himenaeos. Lorem ipsum dolor sit amet
				consectetur adipiscing elit. Quisque faucibus ex sapien vitae
				pellentesque sem placerat. In id cursus mi pretium tellus duis
				convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
				vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
				nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
				class aptent taciti sociosqu. Ad litora torquent per conubia nostra
				inceptos himenaeos.</div>

		</div>
	</main>
</body>
</html>